section#intro {
  width: 600px;
  margin: 100px auto;
  position: relative;
  height: 300px;
}

img#photo {
  width: 150px;
  border: solid 10px #fff;
  border-bottom: solid 20px #fff;
  transform: rotate(-5deg);
  margin-top: 40px;
}

#tweet {
  background-color: rgb(51, 51, 51);
  border-radius: 5px;
  padding: 0;
  width: 400px;
  position: absolute;
  right: 0;
  top: 0;
}

#tweet:after {
  position: absolute;
  left: -9px;
  top: 100px;
  display: block;
  transform: rotate(45deg);
  background-color: white;
  content: "";
  width: 18px;
  height: 18px;
}

#tweet time {
  color: #b3b3b3;
}
