#software-projects ul {
  display: block;
  margin: 0 auto;
  min-width: 500px;
  max-width: 720px;
  padding: 0;
}

#software-projects li {
  float: left;
  width: 340px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  list-style-type: none;
  margin: 10px;
}

#software-projects a {
  display: block;
  width: 340px;
  height: 200px;
  padding: 50px 20px;
  box-sizing: border-box;
}

#software-projects img {
  width: 300px;
  height: 100px;
  display: block;

}

footer {
  clear: both;
}

#github {
  padding-top: 20px;
  display: block;
  clear: both;
  text-align: center;
  color: #fff;
}

#social {
  margin-top: 20px;
}


